<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Gustavo</title>
</head>
<body>
	<form th:object="${estudiante}" th:action="@{/guardarEstudiante}" method="post">
		<label for="fnombre">Nombre:</label><br>
		<input type="text" id="fnombre" th:field="*{nombre}"><br>
		<label for="fapellido">Apellido:</label><br>
		<input type="text" id="fapellido" th:field="*{apellido}"><br>
		<input type="submit" value="Ingresar EDM">
	</form>
</body>
</html>